<avr-side-bar>

  <ng-template avr-side-bar-content>
    <router-outlet></router-outlet>
  </ng-template>

  <ng-template avr-side-bar-item-def>
    <button class="sidebar-button"
            routerLink="departments"
            routerLinkActive="active">Departments</button>
  </ng-template>

  <ng-template avr-side-bar-item-def>
    <button class="sidebar-button"
            routerLink="day_types"
            routerLinkActive="active">Day types</button>
  </ng-template>

  <ng-template avr-side-bar-item-def>
    <button class="sidebar-button"
            routerLink="department_admin_user_accounts"
            routerLinkActive="active">Department Accounts</button>
  </ng-template>

  <ng-template avr-side-bar-item-def>
    <button class="sidebar-button"
            routerLink="special_calendar_dates"
            routerLinkActive="active">Special Calendar Dates</button>
  </ng-template>

  <ng-template avr-side-bar-item-def>
    <button class="sidebar-button"
            routerLink="summation_columns"
            routerLinkActive="active">Summation Columns</button>
  </ng-template>

  <ng-template avr-side-bar-item-def>
    <button class="sidebar-button"
            routerLink="work_schedule_views"
            routerLinkActive="active">Work Schedule Views</button>
  </ng-template>

</avr-side-bar>
