<h2 matDialogTitle>{{operation}}</h2>
<mat-dialog-content [formGroup]="dialogForm">

  <mat-form-field>
    <mat-select placeholder="Employee"
                [compareWith]="compareIdEntities"
                formControlName="employeeId">
      <mat-option *ngFor="let employee of employees"
                  [value]="employee.id">
        {{getEmployeeShortName(employee)}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isControlInvalid('employeeId')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Main shift"
                [compareWith]="compareIdEntities"
                formControlName="mainShiftComposition">
      <mat-option *ngFor="let composition of getEmployeeMainCompositions()"
                  [value]="composition">
        {{composition.shiftId}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isControlInvalid('mainShiftComposition')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Shift"
                [compareWith]="compareNums"
                formControlName="shiftId">
      <mat-option *ngFor="let shift of getEmployeeAvailableShifts()"
                  [value]="shift?.id">
        {{shift?.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isControlInvalid('shiftId')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           [matDatepicker]="from_date_picker"
           placeholder="Choose a date"
           formControlName="from">
    <mat-datepicker-toggle matSuffix [for]="from_date_picker"></mat-datepicker-toggle>
    <mat-datepicker #from_date_picker
                    startView="multi-year"></mat-datepicker>
    <mat-error *ngIf="isControlInvalid('from')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           [matDatepicker]="to_date_picker"
           placeholder="Choose a date"
           formControlName="to">
    <mat-datepicker-toggle matSuffix [for]="to_date_picker"></mat-datepicker-toggle>
    <mat-datepicker #to_date_picker
                    startView="multi-year"></mat-datepicker>
    <mat-error *ngIf="isControlInvalid('to')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="scheduler-dialog-action-button"
          (click)="close()">Close</button>
  <button class="scheduler-dialog-action-button"
          type="submit"
          [disabled]="dialogForm.invalid"
          (click)="submit()">Save</button>
</mat-dialog-actions>

