<mat-dialog-content [formGroup]="customDayTypeForm">

  <mat-form-field class="daytype-select">
    <mat-select placeholder="Select a day type"
                (selectionChange)="onDayTypeSelect($event)">
      <mat-option *ngFor="let departmentDayType of departmentDayTypes"
                  [value]="departmentDayType">
        {{departmentDayType.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="time-inputs-container">
    <mat-form-field class="time-input">
      <input matInput
             mask="00:00"
             [dropSpecialCharacters]="false"
             placeholder="Start time"
             formControlName="startTime">
    </mat-form-field>

    <mat-form-field class="time-input">
      <input matInput
             mask="00:00"
             [dropSpecialCharacters]="false"
             placeholder="End time"
             formControlName="endTime">
    </mat-form-field>
  </div>

  <div class="time-inputs-container">
    <mat-form-field class="time-input">
      <input matInput
             mask="00:00"
             [dropSpecialCharacters]="false"
             placeholder="Break start time"
             formControlName="breakStartTime">
    </mat-form-field>

    <mat-form-field class="time-input">
      <input matInput
             mask="00:00"
             [dropSpecialCharacters]="false"
             placeholder="Break end time"
             formControlName="breakEndTime">
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="scheduler-dialog-action-button"
          [matDialogClose]>Close</button>
  <button class="scheduler-dialog-action-button"
          [disabled]="customDayTypeForm.invalid"
          (click)="create()">Create</button>
</mat-dialog-actions>
