<nav class="main-nav clearfix">
  <ul class="clearfix">
    <li>
      <a routerLink="calendar"
         routerLinkActive="active">
        <span class="icon-nav-site"></span>
        <span class="link-name">Calendar</span>
      </a>
    </li>
    <li>
      <a routerLink="statistics"
         routerLinkActive="active">
        <span class="icon-nav-stat"></span>
        <span class="link-name">Statistics</span>
      </a>
    </li>
    <!--<li *ngIf="userAccessRights.isAdmin && userAccessRights.isDepartmentLevel">-->
      <!--<a routerLink="main_compositions"-->
         <!--routerLinkActive="active">-->
        <!--<span class="icon-nav-site"></span>-->
        <!--<span class="link-name">Main shift compositions</span>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li *ngIf="userAccessRights.isAdmin && userAccessRights.isDepartmentLevel">-->
      <!--<a routerLink="substitution_compositions"-->
         <!--routerLinkActive="active">-->
        <!--<span class="icon-nav-site"></span>-->
        <!--<span class="link-name">Substitution shift compositions</span>-->
      <!--</a>-->
    <!--</li>-->
    <li *ngIf="userAccessRights.isAdmin && userAccessRights.isDepartmentLevel">
      <a routerLink="working_norm"
         routerLinkActive="active">
        <span class="icon-nav-site"></span>
        <span class="link-name">Working norm</span>
      </a>
    </li>
    <li>
      <a routerLink="reports"
         routerLinkActive="active">
        <!--Change icon to reports-->
        <span class="icon-nav-stat"></span>
        <span class="link-name">Reports</span>
      </a>
    <!--</li>-->
    <!--<li>-->
      <!--<a >-->
        <!--<span class="icon-nav-link"></span>-->
        <!--<span class="link-name">Ссылка</span>-->
      <!--</a>-->
    <!--</li>-->
  </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
