.schedule-cell, .schedule-cell-disabled {
  color: black;
  padding: 20px;
  height: 100px;
}

.schedule-cell {
  background-color: floralwhite;
}

.schedule-cell-disabled {
  background-color: lightblue;
}

.schedule-cell:hover {
  background-color: darkgray;
}


