.td-name {
  border: 1px solid #e5e9f0;
}

.table-sticky-header {
  font-family: 'MuseoSansRegular', 'Roboto', sans-serif;
  font-size: 13px;
  color: #000;
  position: sticky;
  top: 0px;
  background-color: #F5F7F9;
  box-shadow: 0 -1px 1px 0px #e5e9f0;
}

.th-null {
  min-width: 150px;
}

.th-sum {
  width: 50px;
  border: 1px solid #e5e9f0;
}

.sum {
  border: 1px solid #e5e9f0;
}

.sum p {
  font-family: 'MuseoSansMedium';
  font-size: 12px;
}

.notEqual {
  background-color: cornsilk;
}

.month-header {
  width: 7%;
  height: 39px;
  border:  1px solid #e5e9f0;
}

.cell {
  cursor: cell;
  padding: 0px;
  vertical-align: middle;
}

.cell > p {
  color: #2b3944;
  font-family: MuseoSansMedium;
  font-size: 12px;
}
