<ng-template #paginator>
  <app-month-year-paginator (onDateChange)="onDateChange()"
                            [dateUnit]="'year'"></app-month-year-paginator>
</ng-template>

<app-calendar-container [proxyViewShown]="proxyViewIsShown">

  <ng-template contentDef>

    <app-schedules-table [options]="options"
                         [tableData]="tableData">

      <ng-container pageableColumnDef>
        <th *headerCellDef="let date"
            class="table-sticky-header month-header">
          {{date.monthName}}
        </th>
        <div *cellDef="let cell"
             class="cell">
          <p align="center">
            {{getCellValue(cell.value)}}
          </p>
        </div>
      </ng-container>

      <ng-container beforeDateColumnDef>
        <th class="table-sticky-header th-null"
            *headerCellDef>
          <app-working-norm-table-configuration-menu [enterpriseId]="enterpriseId"
                                                     [departmentId]="departmentId"
                                                     [shifts]="initData?.shifts"></app-working-norm-table-configuration-menu>
        </th>
        <td class="td-name"
            *cellDef="let rowData"
            name-info-cell
            [name]="rowData.value.shift.name"
            [info]="rowData.value.patternName">
        </td>
      </ng-container>

      <ng-container afterDateColumnDef>
        <th class="table-sticky-header th-sum"
            *headerCellDef>Sum</th>
        <td class="sum"
            *cellDef="let rowData">
          <p align="center">{{rowData.sum}}</p>
        </td>
      </ng-container>

    </app-schedules-table>

  </ng-template>

</app-calendar-container>
