.container {
  display: inline-flex;
  height: 100%;
}

.range-paginator-container {
  display: inline-flex;
  align-items: center;
}

.range-paginator-container > mat-form-field {
  padding: 0;
  margin: 0 8px;
  width: 120px;
  height: 39px;
}

.range-paginator-container > * {
  font-size: 16px;
  color: white;
}

.btn-group {
  position: relative;
  display: flex;
  align-items: center;
}

.btn-date-select {
  width: 16px;
  height: 16px;
  margin: 10px 15px;
  vertical-align: center;
}

.btn-refresh {
  height: 24px;
  background-color: transparent;
}

.btn-refresh:hover {
  cursor: pointer;
}

.btn-date-select:hover {
  cursor: pointer;
}

.hidden-input {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.month-container {
  width: 180px;
}

.month-container:hover > div {
  cursor: pointer;
  color: #91e2df;
}

.date-label {
  color: #ffffff;
  font-family: 'MuseoSansMedium', 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
}
