.context-menu-item {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 1fr 20px;
  grid-column-gap: 10px;
}

.menu-daytype-label-box {
  width: 36px;
  height: 36px;
  background-color: bisque;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  align-self: center;
}

.menu-daytype-label-box p {
  color: white;
  font-family: 'MuseoSansMedium';
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
  margin: 0;
}

.menu-daytype-name {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}

.menu-daytype-value {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  font-size: 12px;
}
