<div class="context-menu-item">
  <div class="menu-daytype-label-box"
       [style.background-color]="hasDayTypeAndTime?.dayType?.dayTypeGroup?.color">
    <p>{{getLabel()}}</p>
  </div>
  <div class="menu-daytype-name">
    {{hasDayTypeAndTime?.name || hasDayTypeAndTime.dayType.name}}
  </div>
  <div *ngIf="showTimeValues()"
       class="menu-daytype-value">
    {{hasDayTypeAndTime.startTime + ' - '
  + hasDayTypeAndTime.endTime + '; break: '
  + hasDayTypeAndTime.breakStartTime + ' - '
  + hasDayTypeAndTime.breakEndTime}}
  </div>
</div>
