<td>
  {{
    employee.secondName
    + ' '
    + employee.firstName.charAt(0)
    + '.'
    + ' '
    + employee.patronymic.charAt(0)
    + '.'
  }}
</td>
<td class="text-center align-middle"
    *ngFor="let day of daysInMonth"
    app-table-cell
    [day]="day"
    [value]="getWorkDay(day) | scheduleLabel"
    [class.weekend]="isWeekend(day)">
</td>
<td class="text-center align-middle sum">
  {{sum}}
</td>

<context-menu #patternMenu
              (close)="clearSelection()">
  <ng-template contextMenuItem
               passive="true">
    <input class="form-control"
           type="number"
           step="0.05"
           [(ngModel)]="customHours"
           required/>
  </ng-template>
  <ng-template contextMenuItem
               [enabled]="customHours >= 0 && customHours <= 24"
               (execute)="generateScheduleWithCustomHours()">
    Create custom schedule
  </ng-template>
  <ng-template contextMenuItem
               [divider]="true"></ng-template>
  <ng-template *ngFor="let pattern of patterns"
               contextMenuItem
               (execute)="generateSchedule($event.item, pattern.id)">
    {{pattern.name}}
  </ng-template>
</context-menu>
