.weekend {
  background-color: lavender;
}

.holiday {
  background-color: lightpink;
}

.selected {
  background-color: indigo;
  color: white;
}

.sum {
  width: 30px;
}

.notEqual {
  background-color: lightgoldenrodyellow;
}

.table-cell {
  cursor: cell;
  padding: 0px;
}

.position-label {
  color: lightgrey;
}
