.btn-group {

}

.btn-month-select {
  width: 16px;
  height: 16px;
  margin: 4px 15px;
  vertical-align: center;
}

.btn-month-select:hover {
  cursor: pointer;
}

.date-label {
  font-size: 16px;
  text-align: center;
}
