<mat-toolbar>
  <img class="toolbar-department-logo" [src]="departmentIcon || 'assets/img/uksatse_logo.svg'">
  <a class="navbar-brand" >{{department?.name || '-'}}</a>
  <span class="toolbar-divider"></span>

  <img class="toolbar-img"
       src="assets/img/calendar.svg"
       routerLink="schedule">

  <img class="toolbar-img-disabled"
       src="assets/img/statistics.svg">

  <img class="toolbar-img-disabled"
       src="assets/img/report.svg">

  <img *ngIf="roles.indexOf('DEPARTMENT_ADMIN') >= 0"
       class="toolbar-img"
       src="assets/img/management.svg"
       routerLink="management">

  <img class="toolbar-img"
       src="assets/img/logout.svg"
       (click)="logout()">
</mat-toolbar>
<div style="height: 94%; overflow: auto">
  <router-outlet></router-outlet>
</div>
<simple-notifications></simple-notifications>
