<td>
  {{
    employee.secondName
    + ' '
    + employee.firstName.charAt(0)
    + '.'
    + ' '
    + employee.patronymic.charAt(0)
    + '.'
  }}
</td>
<td class="text-center align-middle"
    *ngFor="let day of daysInMonth"
    app-table-cell
    #cell="app-table-cell"
    [dragging]="dragging"
    [day]="day"
    [value]="getValue(day)"
    [class.weekend]="isWeekend(day)">
</td>
<td class="text-center align-middle sum">
  {{getSum()}}
</td>

<context-menu #patternMenu>
  <ng-template contextMenuItem
               passive="true">
    <input class="form-control"
           type="number"
           #hours
           (keyup.enter)="generateScheduleWithCustomHours(employee.id, hours.value)"
           placeholder="hours"/>
  </ng-template>
  <ng-template *ngFor="let pattern of patterns"
               contextMenuItem
               (execute)="generateSchedule(employee.id, $event.item, pattern.id)">
    {{pattern.name}}
  </ng-template>
</context-menu>
