<h2 matDialogTitle>{{operation}}</h2>
<mat-dialog-content [formGroup]="dialogForm">

  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date"  formControlName="from">
      <input matEndDate   placeholder="End date"    formControlName="to">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker startView="multi-year"></mat-date-range-picker>
    <mat-error *ngIf="isControlInvalid('from')">{{getErrorMessage()}}</mat-error>
    <mat-error *ngIf="isControlInvalid('to')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Employees"
                multiple
                [compareWith]="compareIdEntities"
                formControlName="employees">
      <mat-option *ngFor="let employee of employees"
                  [value]="employee">
        {{getEmployeeShortName(employee)}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isControlInvalid('employees')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <div class="buttons-container">
    <button class="mat-raised-button"
            (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"
            type="submit"
            [disabled]="dialogForm.invalid"
            (click)="submit()">Save</button>
  </div>
</mat-dialog-actions>

