.form-box {
  display: grid;
  grid-template-columns: 2em 10em 15em 2.5em;
  grid-template-rows: 4em 4em;
  justify-content: space-between;
  grid-template-areas:
    "color-block start-time day-type control-button"
    "color-block end-time   day-type control-button";
  min-width: 32em;
  width: 100%;
  background-color: #eeedfb3d;
  border: 0.01em solid #e9e9f391;
  border-radius: 10px;
}

.color-container {
  width: 2em;
  background-color: darkslategray;
  grid-area: color-block;
  border-radius: 10px 0 0 10px;
}

.time-field {
  padding-top: 0.5em;
}

.start-time {
  grid-area: start-time;
}

.end-time {
  grid-area: end-time;
}

.day-type-container {
  width: 100%;
  align-self: center;
  grid-area: day-type;
}

.control-button-box {
  padding-right: 1em;
  align-self: center;
  grid-area: control-button;
}

.control-button {
  font-size: 1em;
  display: block;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.control-button:hover {
  color: red;
}

