.list-box {
  margin: 10px 10px 10px 10px;
}

.pattern-button {
  height: 50px;
  width: 100%;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

.selected {
  background-color: lightgray;
}

.matInput {
  width: 100%;
}
