.box {
  background-color: crimson;
  width: max-content;
  border: 1px solid transparent;
  margin: 10px 0px 10px 0px;
  padding: 10px 20px 10px 20px;
}

.unit-select {
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  width: 100px;
  height: 30px;
  background-color: inherit;
  box-sizing: border-box;
}

.unit-select:hover {
  color: white;
}

.unit-hours {
  max-width: 100px;
  height: 30px;
}
