.unit-box {
  background-color: darkgray;
  width: max-content;
  border: 1px solid transparent;
  margin: 10px 0 10px 10px;
  /*padding: 10px 20px 10px 20px;*/
}

.unit-box:hover {
  background-color: grey;
}

.control-button-box {
  display: inline-block;
  margin: 10px 20px 10px 20px;
  vertical-align: middle;
}

.form-box {
  display: inline-block;
}

.control-button {
  display: block;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.control-button:hover {
  color: white;
}

