.list-box {
  background-color: lightblue;
  width: max-content;
  border: 1px solid transparent;
  margin: 10px 0 10px 0;
  /*padding: 10px 20px 10px 20px;*/
}

.list-box:hover {
  background-color: deepskyblue;
  color: white;
}

.control-button-box {
  display: inline-block;
  margin: 10px 20px 10px 20px;
  vertical-align: middle;
}

.form-box {
  display: inline-block;
}

.control-button {
  display: block;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.control-button:hover {
  color: white;
}

