<div class="list-box">
  <div class="control-button-box">
    <button class="control-button"
            (click)="moveUp()">▲</button>
    <button class="control-button"
            (click)="moveDown()">▼</button>
  </div>
  <div class="form-box">
    <mat-form-field *ngIf="overrideExistingValues">
      <input matInput
             placeholder="hours"
             [(ngModel)]="unit.value">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="day type"
                  (selectionChange)="onChange($event)"
                  [(ngModel)]="unit.dayTypeId">
        <mat-option *ngFor="let dayType of dayTypes"
                    [value]="dayType.id">
          {{dayType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="control-button-box">
    <button class="control-button"
            (click)="delete()">X</button>
  </div>
</div>
