<div class="full-bg fullscreen">
  <div class="fullscreen"></div>
</div>
<form>
  <div class="root-panel"
       (keyup.enter)="submit()">

    <h1 class="scheduler-title"></h1>

    <div *ngIf="bad_credentials"
         class="login-panel-bad-credentials">
      Wrong login or password<br />Try again
    </div>

    <div class="inputs-panel"
         [formGroup]="loginForm">
      <mat-form-field class="login-panel-input">
        <input matInput
               type="text"
               placeholder="Login"
               formControlName="username"/>
        <mat-error *ngIf="isControlInvalid('username')">Login cannot be empty</mat-error>
      </mat-form-field>

      <mat-form-field class="login-panel-input">
        <input matInput
               type="password"
               placeholder="Password"
               formControlName="password"/>
        <mat-error *ngIf="isControlInvalid('password')">Password cannot be empty</mat-error>
      </mat-form-field>
    </div>

    <div class="button-container">
      <button *ngIf="!loading"
              mat-button
              color="primary"
              class="login-panel-button"
              [disabled]="loginForm.invalid"
              type="submit"
              (click)="submit()">Login</button>
      <div *ngIf="loading"
           class="login-panel-button-preloader-image"></div>
    </div>
  </div>
</form>
