<context-menu (close)="clearSelection()">

  <ng-template contextMenuItem
               (execute)="openCustomDayDialog($event.item)">
    Custom day
  </ng-template>

  <context-menu #singleDaySubMenu>
    <ng-template *ngFor="let departmentDayType of departmentDayTypes"
                 contextMenuItem
                 (execute)="scheduleGenerationService.generateScheduleBySingleDay(departmentDayType, $event.item)">
      <app-context-menu-daytype-item [departmentDayType]="departmentDayType">
      </app-context-menu-daytype-item>
    </ng-template>
  </context-menu>
  <ng-template contextMenuItem [subMenu]="singleDaySubMenu">
    Single day
  </ng-template>

  <ng-template contextMenuItem
               [divider]="true"></ng-template>

  <ng-container *ngFor="let dto of patternDtos">
    <context-menu #patternsSubMenu>
      <ng-container *ngFor="let unit of dto.collection; index as i">
        <ng-template contextMenuItem
                     (execute)="scheduleGenerationService.generateSchedule(dto, $event.item, i)">
          <app-context-menu-daytype-item [departmentDayType]="getDepDayType(unit)">
          </app-context-menu-daytype-item>
        </ng-template>
      </ng-container>
    </context-menu>
    <ng-template contextMenuItem [subMenu]="patternsSubMenu">
      {{dto.entity.name}}
    </ng-template>
  </ng-container>

</context-menu>
