<context-menu (close)="clearSelection()">

  <ng-template contextMenuItem
               (execute)="openCustomDayDialog($event.item)">
    Custom day
  </ng-template>

  <context-menu #singleDaySubMenu>
    <ng-template *ngFor="let dayType of dayTypes"
                 contextMenuItem
                 (execute)="scheduleGenerationService.generateScheduleBySingleDay(dayType, $event.item)">
      <app-context-menu-daytype-item [dayType]="dayType"
                                     [dayTypeGroups]="dayTypeGroups">
      </app-context-menu-daytype-item>
    </ng-template>
  </context-menu>
  <ng-template contextMenuItem [subMenu]="singleDaySubMenu">
    Single day
  </ng-template>

  <ng-template contextMenuItem
               [divider]="true"></ng-template>

  <ng-container *ngFor="let pattern of patterns">
    <context-menu #patternsSubMenu>
      <ng-template contextMenuItem
                   passive="true">
        <mat-form-field appearance="outline">
          <mat-label>Offset</mat-label>
          <input matInput
                 type="number"
                 step="1"
                 [(ngModel)]="offset"
                 required/>
        </mat-form-field>
      </ng-template>
      <ng-template contextMenuItem
                   [enabled]="offset >= 0"
                   (execute)="scheduleGenerationService.generateSchedule(pattern, $event.item, offset)">
        Create schedule
      </ng-template>
    </context-menu>
    <ng-template contextMenuItem [subMenu]="patternsSubMenu">
      {{pattern.name}}
    </ng-template>
  </ng-container>

</context-menu>
