<app-schedules-table [showSumColumns]="true"
                     [multipleSelect]="true"
                     [rowGroupData]="rowGroupData"
                     [cellLabelSetter]="cellLabelSetter">

  <ng-template table-top-item>
    <app-show-hours-control></app-show-hours-control>
  </ng-template>
  <ng-template table-top-item>
    <avr-entity-generation name="Generate schedule"
                           [units]="units"
                           (onEntityGenerated)="onScheduleGenerate($event)"></avr-entity-generation>
  </ng-template>
  <!--<ng-template table-top-item>-->
    <!--<app-schedule-export-excel></app-schedule-export-excel>-->
  <!--</ng-template>-->

  <ng-template paginatorDef>
    <app-month-year-paginator [paginationStrategy]="paginationStrategy"></app-month-year-paginator>
  </ng-template>

  <ng-template headerDateCellDef let-date>
    <th class="table-sticky-header month-header"
        [class.weekend]="date.weekend"
        [class.holiday]="date.holiday"
        [class.current-day]="date.isNow">
      {{date.dayOfMonth}}
    </th>
  </ng-template>

  <ng-container beforeDateColumnDef>
    <th class="table-sticky-header th-null"
        *headerCellDef></th>
    <td class="td-name"
        *cellDef="let rowData">
      <div class="name"
           [class.highlighted]="rowData.isSubstitution">
        {{rowData.name}}
      </div>
      <div class="info">
        {{rowData.position}}
      </div>
    </td>
  </ng-container>

  <ng-container afterDateColumnDef>
    <th class="table-sticky-header th-sum"
        *headerCellDef>Sum</th>
    <td class="sum"
        *cellDef="let rowData">
      <p align="center">{{rowData.sum}}</p>
    </td>
  </ng-container>

  <ng-container afterDateColumnDef>
    <th class="table-sticky-header th-sum"
        *headerCellDef>Norm</th>
    <td class="sum"
        *cellDef="let rowData">
      <p align="center">{{rowData.timeNorm}}</p>
    </td>
  </ng-container>

  <ng-container afterDateColumnDef>
    <th class="table-sticky-header th-sum"
        *headerCellDef>Diff</th>
    <td class="sum"
        *cellDef="let rowData"
        [class.notEqual]="rowData.diff !== 0">
      <p align="center">{{rowData.diff}}</p>
    </td>
  </ng-container>
</app-schedules-table>

<app-schedule-table-context-menu></app-schedule-table-context-menu>
