<ng-container appSelectableRow
              [element]="elementRef"
              (onSelectionEnds)="onContextMenu($event.event, $event.selectedCells)">
  <td class="td-employee">
    <div class="employee-name">
      {{utils.getEmployeeShortName(employee)}}
    </div>
    <div class="position-label">
      {{position?.shortName}}
    </div>
  </td>
  <td class="table-cell"
      *ngFor="let day of daysInMonth"
      app-table-cell
      [day]="day"
      [workDay]="utils.getWorkingDay(day.isoString, schedule)"
      [dayTypes]="dayTypes"
      [dayTypeGroups]="dayTypeGroups"
      [class.weekend]="day.weekend"
      [class.holiday]="day.holiday">
  </td>
  <td class="sum"
      [class.notEqual]="workingTimeSum !== workingTimeNorm">
    <p align="center">{{workingTimeSum}}</p>
  </td>
  <td class="sum">
    <p align="center">{{workingTimeNorm}}</p>
  </td>
</ng-container>
