.td-employee {
  border: 1px solid #e5e9f0;
  height: 32px;
  padding-left: 40px;
}

.employee-name {
  color: #2b3944;
  font-family: 'MuseoSansMedium';
  font-size: 14px;
}

.position-label {
  padding-top: 4px;
  font-size: 11px;
  color: #7d8c9f;
}

.table-cell {
  cursor: cell;
  padding: 0px;
  border: 1px solid #e5e9f0;
  vertical-align: top;

}

.selected {
  background-color: indigo;
  color: white;
}

.sum {
  padding-top: 8px;
  border: 1px solid #e5e9f0;
}
.sum p {
  font-family: 'MuseoSansMedium';
  font-size: 12px;
}

.notEqual {
  background-color: lightgoldenrodyellow;
}

.weekend {
  background-color: #f0f6fb;
}

.holiday {
  background-color: #fdecf6;
}
