<ng-container appSelectableRow
              [element]="elementRef"
              (onSelectionEnds)="onContextMenu($event.event, $event.selectedCells)">
  <td class="td-employee">
    <div class="employee-name">
      {{getEmployeeShortName(employee)}}
    </div>
    <div class="position-label">
      {{position?.shortName}}
    </div>
  </td>
  <td class="table-cell"
      *ngFor="let cell of cellData"
      app-table-cell
      [day]="cell.day"
      [workDay]="cell.workDay"
      [enabled]="cell.enabled"
      [dayTypes]="cell.dayTypes"
      [dayTypeGroups]="cell.dayTypeGroups"
      [class.weekend]="cell.day.weekend"
      [class.holiday]="cell.day.holiday"
      [class.disabled]="!cell.enabled">
  </td>
  <td class="sum"
      [class.notEqual]="workingTimeSum !== workingTimeNorm">
    <p align="center">{{workingTimeSum}}</p>
  </td>
  <td class="sum">
    <p align="center">{{workingTimeNorm}}</p>
  </td>
</ng-container>
