<ng-container appSelectableRow
              [mouseMove$]="mouseMove$"
              [mouseUp$]="mouseUp$"
              [element]="elementRef"
              (onSelectionEnds)="onContextMenu($event.event, $event.selectedCells)">
  <td class="td-employee">
    <div class="employee-name">
      {{
        employee.secondName
        + ' '
        + employee.firstName.charAt(0)
        + '.'
        + ' '
        + employee.patronymic.charAt(0)
        + '.'
      }}
    </div>
    <div class="position-label">
      {{position?.shortName}}
    </div>
  </td>
  <td class="table-cell"
      *ngFor="let day of daysInMonth"
      app-table-cell
      [day]="day"
      [workDay]="getWorkingDay(day.isoString)"
      [dayTypes]="dayTypes"
      [dayTypeGroups]="dayTypeGroups"
      [class.weekend]="day.weekend"
      [class.holiday]="day.holiday">
  </td>
  <td class="sum"
      [class.notEqual]="workingTimeSum !== workingTimeNorm">
    <p align="center">{{workingTimeSum}}</p>
  </td>
  <td class="sum">
    <p align="center">{{workingTimeNorm}}</p>
  </td>
</ng-container>
