.mat-stepper-horizontal {
  border: 1px solid #f5f5f5;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  background-color: #f8fafc;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.first-step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10%;
}

.type-and-date-container {
  display: flex;
  flex-direction: column;
}

.report-type {
  width: 100%;
}

.report-date {
  width: 10em;
  align-self: center;
}

.stepper-footer {
  margin-top: 15px;
  float: right;
}

.summation-column-select-container {
  display: flex;
  justify-content: space-between;
  max-height: 23em;
}

.summation-column-select-buttons {
  margin: auto;
  height: max-content;
}

.summation-column-selection-list {
  overflow: scroll;
  width: 45%;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #e0e0e0;
}

.mat-selection-list {
  background-color: white;
  height: 100%;
}

.summation-column-list-label {
  text-align: center;
  color: #b4b4bb;
}
