<h2 matDialogTitle>{{operation}}</h2>
<mat-dialog-content [formGroup]="dialogForm">

  <mat-form-field>
    <input matInput
           placeholder="Position's name"
           formControlName="name">
    <mat-error *ngIf="isControlInvalid('name')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Position's short name"
           formControlName="shortName">
    <mat-error *ngIf="isControlInvalid('shortName')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="scheduler-dialog-action-button"
          (click)="close()">Close</button>
  <button class="scheduler-dialog-action-button"
          type="submit"
          [disabled]="dialogForm.invalid"
          (click)="submit()">Save</button>
</mat-dialog-actions>
