<avr-top-bar (onLogout)="logout()">
  <ng-template topBarContentDef>
    <router-outlet></router-outlet>
  </ng-template>

  <ng-container toolBarContentDef>
    <ng-template authorityDef>
      <div class="department">

        <div id="department-name">
          <a class="full-name" [matMenuTriggerFor]="userAccountMenu">{{userFullName || '-'}}</a>
        </div>


        <div id="department-position" >
          <a>{{department?.name || '-'}}</a>
        </div>
      </div>
    </ng-template>

    <ng-template toolBarItemDef *ngIf="userAccessRights.isAdmin && userAccessRights.isDepartmentLevel">
      <img style="outline: none;" src="assets/img/cal_icon.png"
           routerLink="schedule/calendar">
    </ng-template>

    <ng-template toolBarItemDef *ngIf="userAccessRights.isAdmin && userAccessRights.isDepartmentLevel">
      <img style="outline: none;" src="assets/img/set_icon.png"
           routerLink="management">
    </ng-template>
  </ng-container>
</avr-top-bar>
<simple-notifications></simple-notifications>

<mat-menu #userAccountMenu="matMenu">
  <button mat-menu-item (click)="openChangePasswordDialog()">Change password</button>
</mat-menu>
