.department {
  margin-right: 28px;
  position: relative;
  display:inline-block;
  vertical-align: top;
  padding-top: 5px;
}
#department-name {
  float: right;
  line-height: 1.0;
  padding: 0;
  margin: 0;
}
#department-name a {
  font-family: 'MuseoSansBold';
  font-size: 26px;
  color: #fff;
}
#department-position {
  padding: 0;
  margin: 0;
  line-height: 1.0;
  padding-top: 4px;
  float: right;
  clear: right;

}
#department-position a {
  font-family: 'MuseoSansLight';
  font-size: 13px;
  color: #8d8d8d;
}
