<h2 matDialogTitle>{{operation}}</h2>
<mat-dialog-content [formGroup]="dialogForm">

  <mat-form-field>
    <input matInput
           placeholder="User name"
           formControlName="username">
    <mat-error *ngIf="isControlInvalid('username')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           type="password"
           placeholder="Password"
           formControlName="password">
    <mat-error *ngIf="isControlInvalid('password')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Enterprise"
                [compareWith]="compareNums"
                formControlName="enterpriseId">
      <mat-option *ngFor="let enterprise of enterprises"
                  [value]="enterprise.id">
        {{enterprise.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isControlInvalid('enterpriseId')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-checkbox class="dialog-checkbox"
                formControlName="locked">Locked</mat-checkbox>
  <mat-checkbox class="dialog-checkbox"
                formControlName="enabled">Enabled</mat-checkbox>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" type="submit" (click)="submit()">Save</button>
</mat-dialog-actions>

