<h2 matDialogTitle>{{operation}}</h2>
<mat-form-field style="width: 494.3px">
  <input matInput
         class="input-pattern-name"
         placeholder="Shift pattern name"
         [(ngModel)]="pattern.name">
</mat-form-field>
<mat-checkbox class="dialog-checkbox"
              [(ngModel)]="pattern.overrideExistingValues">
  Override existing values
</mat-checkbox>
<div class="pattern-units-panel">
  <app-pattern-unit *ngFor="let unit of units"
                    [dayTypes]="dayTypes"
                    [unit]="unit"
                    [overrideExistingValues]="pattern.overrideExistingValues"
                    (onMoveUp)="moveUp($event)"
                    (onMoveDown)="moveDown($event)"
                    (onDelete)="delete($event)"></app-pattern-unit>
  <button class="add-button"
          (click)="addUnit()">+</button>
</div>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="submit()">Save</button>
</mat-dialog-actions>
