<avr-top-bar (onLogout)="logout()">

  <ng-container toolBarContentDef>
    <ng-template authorityDef>
      <div class="department">
        <div id="department-name" >
          <a>{{enterprise?.name || '-'}}</a>
        </div>
        <div id="department-position" >
          <a *ngIf="roles.includes('ENTERPRISE_ADMIN')">Enterprise administrator</a>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <ng-template topBarContentDef>
    <avr-side-bar>

      <ng-template avr-side-bar-content>
        <router-outlet></router-outlet>
      </ng-template>

      <ng-template avr-side-bar-item-def>
        <button class="sidebar-button"
                routerLink="departments"
                routerLinkActive="active">Departments</button>
      </ng-template>

      <ng-template avr-side-bar-item-def>
        <button class="sidebar-button"
                routerLink="day_types"
                routerLinkActive="active">Day types</button>
      </ng-template>

      <ng-template avr-side-bar-item-def>
        <button class="sidebar-button"
                routerLink="department_admin_user_accounts"
                routerLinkActive="active">Department Accounts</button>
      </ng-template>

      <ng-template avr-side-bar-item-def>
        <button class="sidebar-button"
                routerLink="special_calendar_dates"
                routerLinkActive="active">Special Calendar Dates</button>
      </ng-template>

      <ng-template avr-side-bar-item-def>
        <button class="sidebar-button"
                routerLink="summation_columns"
                routerLinkActive="active">Summation Columns</button>
      </ng-template>

    </avr-side-bar>
  </ng-template>

</avr-top-bar>
<simple-notifications></simple-notifications>
