<div class="context-menu-item">
  <div class="menu-daytype-label-box"
       [style.background-color]="departmentDayType?.dayType?.dayTypeGroup?.color">
    <p>{{departmentDayType.dayType.label}}</p>
  </div>
  <div class="menu-daytype-name">
    {{departmentDayType.dayType.name}}
  </div>
  <div *ngIf="showTimeValues()"
       class="menu-daytype-value">
    {{departmentDayType.startTime + ' - '
  + departmentDayType.endTime + '; break: '
  + departmentDayType.breakStartTime + ' - '
  + departmentDayType.breakEndTime}}
  </div>
</div>
