.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.btn-date-select {
  width: 16px;
  height: 16px;
  margin: 4px 15px;
  vertical-align: center;
}

.btn-date-select:hover {
  cursor: pointer;
}

.date-label {
  font-size: 16px;
  padding-top: 2px;
  text-align: center;
}
