.mat-column-hidden {
  width: 2em;
}

.small-img {
  padding-top: 0.2em;
  width: 1.8em;
  height: 1.8em;
}

.top-container {
  display: flex;
}

.top-container > button {
  border: none;
  background-color: transparent;
  color: #414858;
  font-family: MuseoSansMedium;
  font-size: 14px;
  width: 7em;
}

.top-container > button:hover {
  background-color: #f1f1f1;
  color: darkblue;
  cursor: pointer;
}
