<ng-container *ngIf="rowData && rowData.length > 0">
  <tr class="employee">
    <td class="shift-label"
        [attr.colspan]="numberOfColumns"
        (click)="isHidden = !isHidden">
      {{(isHidden ? "▶" : "▼") + ' ' + shift.name}}
    </td>
  </tr>
  <tr [hidden]="isHidden"
      class="schedule-row"
      *ngFor="let row of rowData"
      app-table-row
      [shiftId]="shift.id"
      [employee]="row.employee"
      [position]="row.position"
      [schedule]="row.workDays"
      [daysInMonth]="daysInMonth"
      [shiftComposition]="row.composition"
      [workingTimeNorm]="row.workingTimeNorm"
      [isSubstitution]="row.isSubstitution"
      [dayTypes]="row.dayTypes"
      [dayTypeGroups]="row.dayTypeGroups"
      [patternMenu]="patternMenu">
  </tr>
</ng-container>
