<ng-container *ngIf="rowData && rowData.length > 0">
  <tr class="employee">
    <td class="shift-label"
        [attr.colspan]="numberOfColumns"
        (click)="isHidden = !isHidden">
      {{(isHidden ? "▶" : "▼") + ' ' + shift.name}}
    </td>
  </tr>
  <tr [hidden]="isHidden"
      class="schedule-row"
      *ngFor="let row of rowData"
      app-table-row
      [employee]="row.employee"
      [cellData]="row.cells"
      [workingTimeSum]="utils.calculateWorkingTimeSum(row.cells)"
      [workingTimeNorm]="row.workingTimeNorm"
      [position]="row.position"
      [isSubstitution]="row.isSubstitution"
      [patternMenu]="patternMenu">
  </tr>
</ng-container>
