<ng-container *ngIf="employees">
  <tr class="employee">
    <td class="shift-label"
        [attr.colspan]="numberOfColumns"
        (click)="isHidden = !isHidden">
      {{(isHidden ? "▶" : "▼") + ' ' + shift.name}}
    </td>
  </tr>
  <tr [hidden]="isHidden"
      class="schedule-row"
      *ngFor="let employee of employees"
      app-table-row
      [employee]="employee"
      [schedule]="getSomeShitInTheHouse(employee.id, shift.id)"
      [workingTimeSum]="utils.calculateWorkingTimeSum(getSomeShitInTheHouse(employee.id, shift.id))"
      [workingTimeNorm]="workingTimeNorm"
      [position]="getPosition(employee)"
      [dayTypes]="dayTypes"
      [dayTypeGroups]="dayTypeGroups"
      [patternMenu]="patternMenu">
  </tr>
</ng-container>
