<avr-top-bar (onLogout)="logout()">

  <ng-template topBarContentDef>
    <avr-side-bar>

      <ng-template avr-side-bar-content>
        <router-outlet></router-outlet>
      </ng-template>

      <ng-template avr-side-bar-item-def>
        <button class="sidebar-button"
                routerLink="enterprises"
                routerLinkActive="active">Enterprises</button>
      </ng-template>

      <ng-template avr-side-bar-item-def>
        <button class="sidebar-button"
                routerLink="accounts"
                routerLinkActive="active">Accounts</button>
      </ng-template >

      <ng-template avr-side-bar-item-def>
        <button class="sidebar-button"
                routerLink="groups"
                routerLinkActive="active">Day type groups</button>
      </ng-template>

    </avr-side-bar>
  </ng-template>

  <ng-container toolBarContentDef>
    <ng-template authorityDef>
      <div class="department">
        <div id="department-name" >
          <a>Andrew Kolesnyk</a>
        </div>
        <div id="department-position" >
          <a>Global administrator</a>
        </div>
      </div>
    </ng-template>
  </ng-container>

</avr-top-bar>

<simple-notifications></simple-notifications>
