.toolbar-department-logo {
  height: 100%;
  padding-right: 16px;
}

.toolbar {
  list-style-type: none;
  margin: 0;
  padding: 0 16px;
  height: 64px;
  overflow: hidden;
  background-color: #F5F5F5;
}

.toolbar-li {
  float: left;
  height: 100%;
}

.toolbar-img {
  display: block;
  cursor: pointer;
  height: 100%;
  width: 35px;
  margin: 0 15px 0;
}

.toolbar-img:focus {
  outline: 0;
}

.toolbar-img:hover {
  filter: grayscale(50%);
}
