<!--TOP NAVBAR-->
<ul class="toolbar">
  <li class="toolbar-li left">
    <img class="toolbar-department-logo" src="assets/img/uksatse_logo.svg">
  </li>
  <li class="toolbar-li right">
    <img class="toolbar-img"
         src="assets/img/logout.svg"
         (click)="logout()">
  </li>
</ul>

<!--SIDEBAR-->
<ul class="sidebar">
  <li class="sidebar-list-element">
    <button class="sidebar-button"
            routerLink="departments"
            routerLinkActive="active">Departments</button>
  </li>
  <li class="sidebar-list-element">
    <button class="sidebar-button"
            routerLink="accounts"
            routerLinkActive="active">Accounts</button>
  </li>
  <li class="sidebar-list-element">
    <button class="sidebar-button"
            routerLink="groups"
            routerLinkActive="active">Day type groups</button>
  </li>
</ul>
<div class="sidebar-content-box">
  <router-outlet></router-outlet>
</div>
<simple-notifications></simple-notifications>
