<div>

  <mat-tab-group mat-stretch-tabs>

    <mat-tab label="General">

      <ng-template matTabContent>
        <div class="patterns-general-panel">
          <mat-form-field>
            <input matInput
                   class="input-pattern-name"
                   placeholder="Summation column name"
                   [(ngModel)]="dto.parent.name"
                   required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Summation type</mat-label>
            <mat-select [(ngModel)]="dto.parent.columnType"
                        required>
              <mat-option [value]="columnTypes[0]">
                Count type
              </mat-option>
              <mat-option [value]="columnTypes[1]">
                Hours type
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select [(ngModel)]="dto.parent.specialCalendarDateTypes"
                        placeholder="Special Date Types"
                        multiple>
              <mat-option [value]="dateTypes[0]">
                Holiday type
              </mat-option>
              <mat-option [value]="dateTypes[0]">
                Extra weekend type
              </mat-option>
              <mat-option [value]="dateTypes[0]">
                Extra work day type
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-template>

    </mat-tab>

    <mat-tab label="Units">

      <ng-template matTabContent>
        <div class="container"
             cdkDropList
             (cdkDropListDropped)="drop($event)">

          <app-summation-range-unit class="unit-item"
                            *ngFor="let unit of dto.collection"
                                    [dayTypes]="dayTypes"
                                    [child]="unit"
                            (onDelete)="delete($event)"
                            cdkDrag>
            <div class="unit-placeholder" *cdkDragPlaceholder></div>
          </app-summation-range-unit>

          <div class="add-unit-button"
               (click)="addChild()">ADD</div>
        </div>
      </ng-template>

    </mat-tab>

  </mat-tab-group>

  <mat-dialog-actions align="end">
    <button class="dialog-action-button" mat-dialog-close>Close</button>
    <button class="dialog-action-button"
            [disabled]="!dto.parent.name || !dto.parent.columnType"
            type="submit"
            (click)="submit()">Save</button>
  </mat-dialog-actions>
</div>
