::ng-deep mat-tab-body {
  flex-basis: auto !important;
}

.container {
  font-size: 1.7vh;
  max-height: 34em;
  min-width: 32em;
  overflow: scroll;
  margin: 2em 1em 0 1em;
}

.unit-item {
  display: flex;
  margin-bottom: 0.5em;
}

.unit-placeholder {
  height: 8em;
  background-color: rgba(149, 147, 162, 0.24);
  border: 0.01em solid #e9e9f391;
  border-radius: 10px;
  margin-bottom: 0.5em;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.add-unit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 3em;
  font-size: 1.5em;
  background-color: #adaeb34a;
  border-radius: 10px;
  cursor: pointer;
}

.add-unit-button:hover {
  background-color: #ADAEB3;
}

.dialog-action-button {
  height: 3em;
  width: 6em;
  margin-left: 0.8em;
  border: none;
  background-color: #e2e2e252;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.dialog-action-button:hover {
  background-color: #ADAEB3;
  color: white;
}

.cdk-drag-preview {
  font-size: 1.7vh;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.container.cdk-drop-list-dragging .unit-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.patterns-general-panel {
  margin-top: 20px;
  font-size: 2vh;
  width: 100%;
}

.mat-form-field {
  display: block;
  width: 100%;
}
