<app-schedules-table [groupable]="false"
                     [rowData]="rowData"
                     [proxyViewIsShown]="proxyViewIsShown"
                     [selectionEnabled]="!isAdmin"
                     [multipleSelect]="false"
                     [cellLabelSetter]="cellLabelSetter"
                     [showSumColumns]="true">

  <ng-template table-top-item
               *ngIf="isAdmin">
    <avr-entity-generation name="Generate working norm"
                           [units]="generationUnits"
                           (onEntityGenerated)="onWorkingNormGenerated($event)"></avr-entity-generation>
  </ng-template>

  <ng-template proxyViewDef>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </ng-template>

  <ng-template paginatorDef>
    <app-month-year-paginator [paginationStrategy]="paginationStrategy"
                              (onDateChange)="onDateChange()"
                              [dateUnit]="'year'"></app-month-year-paginator>
  </ng-template>

  <ng-template headerDateCellDef let-date>
    <th class="table-sticky-header month-header">
      {{date.monthName}}
    </th>
  </ng-template>

  <ng-container beforeDateColumnDef>
    <th class="table-sticky-header th-null"
        *headerCellDef></th>
    <td class="td-name"
        *cellDef="let rowData">
      <div class="name">
        {{rowData.shiftName}}
      </div>
      <div class="info">
        {{rowData.patternName}}
      </div>
    </td>
  </ng-container>

  <ng-container afterDateColumnDef>
    <th class="table-sticky-header th-sum"
        *headerCellDef>Sum</th>
    <td class="sum"
        *cellDef="let rowData">
      <p align="center">{{rowData.sum}}</p>
    </td>
  </ng-container>

</app-schedules-table>
