.btn-group {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  margin-top: 30px;
}

.btn-month-select {
  width: 16px;
  height: 16px;
  margin: 4px 15px;
  vertical-align: center;
}

.btn-month-select:hover {
  cursor: pointer;
}

.month-container {
  width: 160px;
}

.date-label {
  color: #2b3944;
  font-family: 'MuseoSansMedium', 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.date-label:hover {
  font-weight: bold;
  /*color: #000000;*/
}
