<!--Hidden-->
<mat-form-field style="width:1px;visibility:hidden;">
  <input matInput [matDatepicker]="picker" [(ngModel)]="currentDate">
  <mat-datepicker #picker
                  startView="multi-year"
                  (monthSelected)="onMonthSelected($event, picker)"></mat-datepicker>
</mat-form-field>

<div class="btn-group">
  <img class="btn-month-select"
       src="assets/img/left.svg"
       (click)="prevMonth()">

  <div class="month-container">
    <div class="date-label" (click)="picker.open()">
      {{(currentDate.format("MMMM YYYY"))}}
    </div>
  </div>

  <img class="btn-month-select"
       src="assets/img/right.svg"
       (click)="nextMonth()">
</div>

