.btn-group {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.btn-month-select {
  width: 16px;
  height: 16px;
  margin: 4px 15px;
  vertical-align: center;
}

.btn-month-select:hover {
  cursor: pointer;
}

.date-label {
  width: 160px;
  font-size: 16px;
}
