.btn-group {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-month-select {
  width: 16px;
  height: 16px;
  margin: 10px 15px;
  vertical-align: center;
}

.btn-month-select:hover {
  cursor: pointer;
}

.month-container {
  width: 180px;
  padding-top: 7px;
  height: 32px;
}
.month-container:hover {
  background-color: #f0f6fb;
  border-radius: 20px;
}

.date-label {
  color: #2b3944;
  font-family: 'MuseoSansMedium', 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
