<h2 matDialogTitle>{{operation}}</h2>
<mat-dialog-content [formGroup]="dialogForm">

  <mat-form-field>
    <input matInput
           placeholder="Name"
           formControlName="name">
    <mat-error *ngIf="isControlInvalid('name')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Department icon"
                [compareWith]="compare"
                formControlName="iconId">
      <mat-option [value]="null">
        No icon
      </mat-option>
      <mat-option *ngFor="let icon of icons"
                  [value]="icon.id">
        {{icon.fileName}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isControlInvalid('iconId')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" type="submit" (click)="submit()">Save</button>
</mat-dialog-actions>
