.td-name {
  border: 1px solid #e5e9f0;
  height: 32px;
  padding-left: 40px;
}

.editable:hover .name{
  color: blueviolet;
  cursor: pointer;
}

.name {
  color: #2b3944;
  font-family: 'MuseoSansMedium';
  font-size: 14px;
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
}

.highlighted {
  color: rosybrown;
}

.info {
  padding-top: 4px;
  font-size: 11px;
  color: #7d8c9f;
}

.table-sticky-header {
  font-family: 'MuseoSansRegular', 'Roboto', sans-serif;
  font-size: 13px;
  color: #000;
  position: sticky;
  top: 0;
  background-color: #F5F7F9;
}

.th-null {
  min-width: 150px;
  border: 1px solid #e5e9f0;
}

.th-sum {
  width: 42px;
  border: 1px solid #e5e9f0;
}

.sum {
  padding-top: 4px;
  border: 1px solid #e5e9f0;
}

.sum p {
  font-family: 'MuseoSansMedium';
  font-size: 13px;
}

.notEqual {
  color: #d60000;
}

.month-header {
  width: 2.5%;
  height: 39px;
  border:  1px solid #e5e9f0;
  cursor: pointer;
}

.month-header:hover {
  background-color: #9dbbff;
  color: #ffffff;
}

.weekend {
  background-color: #e8f2fb;
}

.holiday {
  background-color: #ffd5d5;
}

.current-day {
  text-decoration: underline solid #000;
}

.cell {
  cursor: cell;
  padding: 0px;
  border: 1px solid #e5e9f0;
  vertical-align: top;
}

.disabled {
  background-color: whitesmoke;
  cursor: not-allowed;
}
