<app-schedules-table [showSumColumns]="accessRights.isAdmin"
                     [multipleSelect]="true"
                     [rowGroupData]="tableData"
                     [cellLabelSetter]="cellLabelSetter"
                     [selectionEnabled]="accessRights.isAdmin"
                     (onAddRowClick)="accessRights.isDepartmentLevel && isEditable && dataSource.newRow($event)">

  <ng-template paginatorDef>
    <app-month-year-paginator [paginationStrategy]="paginationStrategy"></app-month-year-paginator>
  </ng-template>

  <ng-template headerDateCellDef let-date>
    <th class="table-sticky-header month-header"
        [class.weekend]="date.weekend"
        [class.holiday]="date.holiday"
        [class.current-day]="date.isNow"
        (click)="state.clickHeaderCell({value: date, event: $event})">
      {{date.dayOfMonth}}
    </th>
  </ng-template>

  <ng-container beforeDateColumnDef>
    <th class="table-sticky-header th-null"
        *headerCellDef>
      <app-schedule-table-configuration-menu></app-schedule-table-configuration-menu>
    </th>
    <td class="td-name"
        *cellDef="let rowData"
        [class.editable]="isRowEditable(rowData)"
        (click)="isRowEditable(rowData) && dataSource.editRow(rowData)">
      <div class="name"
           [class.highlighted]="rowData.isSubstitution">
        {{utility.getEmployeeName(rowData.employee)}}
      </div>
      <div class="info">
        {{rowData.position.shortName}}
      </div>
    </td>
  </ng-container>

  <ng-container afterDateColumnDef>
    <th class="table-sticky-header th-sum"
        *headerCellDef>Sum</th>
    <td class="sum"
        *cellDef="let rowData">
      <p align="center">{{rowData.sum}}</p>
    </td>
  </ng-container>

  <ng-container afterDateColumnDef>
    <th class="table-sticky-header th-sum"
        *headerCellDef>Norm</th>
    <td class="sum"
        *cellDef="let rowData">
      <p align="center">{{rowData.workingNorm}}</p>
    </td>
  </ng-container>

  <ng-container afterDateColumnDef>
    <th class="table-sticky-header th-sum"
        *headerCellDef>Diff</th>
    <td class="sum"
        *cellDef="let rowData"
        [class.notEqual]="rowData.diff !== 0">
      <p align="center">{{rowData.diff}}</p>
    </td>
  </ng-container>
</app-schedules-table>

<app-schedule-table-context-menu *ngIf="accessRights.isAdmin"
                                 [shifts]="dataSource.shifts"
                                 [groups]="tableData"
                                 [isEditableGroups]="isEditable"></app-schedule-table-context-menu>
