.calendar-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 5px 5px;
  user-select: none;
}

.calendar-head {
  background-color: gold;
  text-align: center;
}
