.calendar-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 2px 2px;
}

.calendar-head {
  background-color: gold;
  text-align: center;
}

.calendar-other {
  background-color: darkgrey;
  color: white;
  padding: 20px;
}
