<app-client-table-paginator></app-client-table-paginator>
<div class="calendar-container">
  <div class="calendar-head"
       *ngFor="let header of columnHeaders">{{header}}</div>
  <app-schedule-table-cell *ngFor="let day of prevDays"
                           [disabled]="true"
                           [date]="day">
  </app-schedule-table-cell>
  <app-schedule-table-cell *ngFor="let day of currDays"
                           [date]="day"
                           [schedule]="getWorkDay(day)">
  </app-schedule-table-cell>
  <app-schedule-table-cell *ngFor="let day of nextDays"
                           [disabled]="true"
                           [date]="day">
  </app-schedule-table-cell>
</div>
