.ngx-contextmenu .dropdown-menu {
  background-color: #ffffff;
  padding: 5px 0;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  width: 100%;
  max-height: 50vh;
  box-shadow: 0 5px 10px rgba(154,160,185,.35), 0 15px 40px rgba(166,173,201,.5);
  user-select: none;
  outline: none;
}

.dropdown-menu::-webkit-scrollbar {
  display: none;
}

.ngx-contextmenu li {
  padding: 0 5px;
  display: block;
  /*border-bottom: 1px solid #dbe6f0;*/
}
.ngx-contextmenu li:hover {
  background-color: #f0f6fb;
}
.ngx-contextmenu li:first-child {
  border-top:none;
}
.ngx-contextmenu li:last-child {
  border-bottom:none;
}
.ngx-contextmenu a {
  font-family: 'MuseoSansRegular', 'Roboto', sans-serif;
  letter-spacing: .03em;
  font-size: 16px;
  color: #414858;
  display: block;
  padding: 10px 5px;
  text-decoration: none;
}
.ngx-contextmenu a:hover {
  color: #2b3944;
  text-decoration: none;
}
