<div>
  <div class="month-selector">
    <app-month-year-paginator></app-month-year-paginator>
  </div>
  <div>
    <div class="table-top-buttons">
      <app-show-hours-control></app-show-hours-control>
    </div>
    <div class="table-top-buttons">
      <app-schedule-generation></app-schedule-generation>
    </div>
    <div class="table-top-buttons">
      <app-schedule-export-excel></app-schedule-export-excel>
    </div>
  </div>
</div>
<div class="table-wrap">
<table class="table-schedule">
  <thead app-table-header>
  </thead>
  <tbody *ngFor="let group of rowGroups"
         app-table-shift-group
         [rowData]="group.rows"
         [shift]="group.shift"
         [workingTimeNorm]="group.workingTimeNorm"
         [daysInMonth]="daysInMonth"
         [dayTypes]="dayTypes"
         [dayTypeGroups]="dayTypeGroups"
         [patternMenu]="contextMenuComponent.patternMenu">
  </tbody>
</table>
</div>

<app-schedule-table-context-menu [dayTypes]="dayTypes"
                                 [patterns]="patterns"
                                 [dayTypeGroups]="dayTypeGroups"
                                 (onContextMenuClose)="clearSelection()">
</app-schedule-table-context-menu>
