<div>
  <div class="month-selector">
    <app-month-year-paginator></app-month-year-paginator>
  </div>
  <div class="show-hours">
  <app-show-hours-control></app-show-hours-control>
  </div>
  <div class="schedule-gen">
<app-schedule-generation></app-schedule-generation>
  </div>
</div>
<table>
  <thead app-table-header>
  </thead>
  <tbody *ngFor="let shift of shifts"
         app-table-shift-group
         [shift]="shift"
         [employees]="getShiftEmployees(shift.id)"
         [workingTimeNorm]="getShiftWorkingTime(shift.id)?.hours"
         [schedule]="schedule"
         [patterns]="patterns"
         [positions]="positions"
         [dayTypes]="dayTypes"
         [dayTypeGroups]="dayTypeGroups"
         [mouseMove$]="mouseMove$"
         [mouseUp$]="mouseUp$">
  </tbody>
</table>
