<!--SIDEBAR-->
<ul class="sidebar">
  <li class="sidebar-list-element">
    <button class="sidebar-button" routerLink="employees">Employees</button>
  </li>
  <li class="sidebar-list-element">
    <button class="sidebar-button" routerLink="positions">Positions</button>
  </li>
  <li class="sidebar-list-element">
    <button class="sidebar-button" routerLink="shifts">Shifts</button>
  </li>
  <li class="sidebar-list-element">
    <button class="sidebar-button" routerLink="daytypes">Day types</button>
  </li>
  <li class="sidebar-list-element">
    <button class="sidebar-button" routerLink="patterns">Patterns</button>
  </li>
  <li class="sidebar-list-element">
    <button class="sidebar-button" routerLink="workingtime">Working time</button>
  </li>
  <li class="sidebar-list-element">
    <button class="sidebar-button" routerLink="holidays">Holidays</button>
  </li>
  <li class="sidebar-list-element">
    <button class="sidebar-button" routerLink="extraweekends">Extra weekends</button>
  </li>
</ul>
<div class="sidebar-content-box">
  <router-outlet></router-outlet>
</div>
