<!--SIDEBAR-->
<ul class="sidebar">
  <li class="sidebar-list-element">
    <button class="sidebar-button"
            routerLink="employees"
            routerLinkActive="active">Employees</button>
  </li>
  <li class="sidebar-list-element">
    <button class="sidebar-button"
            routerLink="positions"
            routerLinkActive="active">Positions</button>
  </li>
  <li class="sidebar-list-element">
    <button class="sidebar-button"
            routerLink="shifts"
            routerLinkActive="active">Shifts</button>
  </li>
  <li class="sidebar-list-element">
    <button class="sidebar-button"
            routerLink="daytypes"
            routerLinkActive="active">Day types</button>
  </li>
  <li class="sidebar-list-element">
    <button class="sidebar-button"
            routerLink="patterns"
            routerLinkActive="active">Patterns</button>
  </li>
  <li class="sidebar-list-element">
    <button class="sidebar-button"
            routerLink="workingtime"
            routerLinkActive="active">Working time</button>
  </li>
  <li class="sidebar-list-element">
    <button class="sidebar-button"
            routerLink="holidays"
            routerLinkActive="active">Holidays</button>
  </li>
  <li class="sidebar-list-element">
    <button class="sidebar-button"
            routerLink="extraweekends"
            routerLinkActive="active">Extra weekends</button>
  </li>
</ul>
<div class="sidebar-content-box">
  <router-outlet></router-outlet>
</div>
