<mat-drawer-container class="sidebar-container"
                       hasBackdrop="false">
  <mat-drawer class="sidebar"
              opened
              mode="side"
              role="navigation">
    <button class="sidebar-button" routerLink="employees">Employees</button>
    <button class="sidebar-button" routerLink="positions">Positions</button>
    <button class="sidebar-button" routerLink="shifts">Shifts</button>
    <button class="sidebar-button" routerLink="patterns">Patterns</button>
    <button class="sidebar-button" routerLink="daytypes">Day types</button>
    <button class="sidebar-button">Constants</button>
  </mat-drawer>
  <mat-drawer-content role="main">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
