<div class="form-box">
  <div class="color-container"></div>

  <mat-form-field class="on-day-type">
    <mat-select placeholder="On day type"
                [(ngModel)]="item.onDayTypeId">
      <mat-option [value]="undefined">
        Any
      </mat-option>
      <mat-option *ngFor="let dayType of dayTypes"
                  [value]="dayType.id">
        {{dayType.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="use-department-day-type">
    <mat-select placeholder="Use instead"
                [compareWith]="compareIdEntity"
                [(ngModel)]="item.useDepartmentDayType">
      <mat-option *ngFor="let departmentDayType of departmentDayTypes"
                  [value]="departmentDayType">
        {{departmentDayType.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="day-of-week">
    <mat-select placeholder="Day of week"
                [disabled]="item.type !== 'day_of_week'"
                [(ngModel)]="item.dayOfWeek">
      <mat-option [value]="1">
        Monday
      </mat-option>
      <mat-option [value]="2">
        Tuesday
      </mat-option>
      <mat-option [value]="3">
        Wednesday
      </mat-option>
      <mat-option [value]="4">
        Thursday
      </mat-option>
      <mat-option [value]="5">
        Friday
      </mat-option>
      <mat-option [value]="6">
        Saturday
      </mat-option>
      <mat-option [value]="7">
        Sunday
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="type">
    <mat-select [(ngModel)]="item.type"
                placeholder="Rule type">
      <mat-option *ngFor="let type of types"
                  [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="control-button-box">
    <button class="control-button"
            (click)="delete()">X</button>
  </div>
</div>

