<td>
  <input class="form-control"
         [(ngModel)]="newShift.name"
         minlength="3"
         maxlength="64"
         placeholder="name"
         #name="ngModel"
         required/>
</td>
<td>
  <select class="form-control"
          [(ngModel)]="newShift.patternId"
          #pattern="ngModel"
          required>
    <option [ngValue]="undefined"
            hidden
            selected>select pattern</option>
    <option *ngFor="let pattern of patterns"
            [ngValue]="pattern.id">
      {{pattern.name}}
    </option>
  </select>
</td>
<td>
  <button class="btn btn-primary full-cell-size"
          [disabled]="!name.valid"
          (click)="addShift()">+</button>
</td>
