<h2 matDialogTitle>{{operation}}</h2>
<mat-dialog-content [formGroup]="dialogForm">

  <mat-form-field>
    <input matInput
           placeholder="User name"
           formControlName="username">
    <mat-error *ngIf="isControlInvalid('username')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           type="password"
           placeholder="Password"
           formControlName="password">
    <mat-error *ngIf="isControlInvalid('password')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="First name"
           formControlName="firstName">
    <mat-error *ngIf="isControlInvalid('firstName')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Second name"
           formControlName="secondName">
    <mat-error *ngIf="isControlInvalid('secondName')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Department"
                [compareWith]="compare"
                formControlName="departmentId">
      <mat-option *ngFor="let department of departments"
                  [value]="department.id">
        {{department.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isControlInvalid('departmentId')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Shift"
                [compareWith]="compare"
                formControlName="shiftId">
      <mat-option *ngFor="let shift of shifts"
                  [value]="shift.id">
        {{shift.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isControlInvalid('shiftId')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Employee"
                [compareWith]="compare"
                formControlName="employeeId">
      <mat-option *ngFor="let employee of employees"
                  [value]="employee.id">
        {{
          employee.secondName
          + ' '
          + employee.firstName.charAt(0)
          + '.'
          + ' '
          + employee.patronymic.charAt(0)
          + '.'
        }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isControlInvalid('employeeId')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Authorities"
                [compareWith]="compare"
                formControlName="authorities"
                multiple>
      <mat-option *ngFor="let authority of authorities"
                  [value]="authority">
        {{authority.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isControlInvalid('authorities')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-checkbox class="dialog-checkbox"
                formControlName="locked">Locked</mat-checkbox>
  <mat-checkbox class="dialog-checkbox"
                formControlName="enabled">Enabled</mat-checkbox>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" type="submit" (click)="submit()">Save</button>
</mat-dialog-actions>

