<div class="form-box">

  <div class="color-container"
       [style.background-color]="color"></div>

  <mat-form-field class="start-time time-field">
    <input matInput
           mask="00:00"
           [dropSpecialCharacters]="false"
           placeholder="start time"
           [(ngModel)]="item.startTime">
  </mat-form-field>

  <mat-form-field class="end-time time-field">
    <input matInput
           mask="00:00"
           [dropSpecialCharacters]="false"
           placeholder="end time"
           [(ngModel)]="item.endTime">
  </mat-form-field>

  <mat-form-field class="break-start-time time-field">
    <input matInput
           mask="00:00"
           [dropSpecialCharacters]="false"
           placeholder="break start"
           [(ngModel)]="item.breakStartTime">
  </mat-form-field>

  <mat-form-field class="break-end-time time-field">
    <input matInput
           mask="00:00"
           [dropSpecialCharacters]="false"
           placeholder="break end"
           [(ngModel)]="item.breakEndTime">
  </mat-form-field>

  <mat-form-field class="day-type-container">
    <mat-select placeholder="Day Type"
                [value]="selectedDepartmentDayType"
                [compareWith]="compareIdEntity"
                (selectionChange)="onChange($event)">
      <mat-option *ngFor="let departmentDayType of departmentDayTypes"
                  [value]="departmentDayType">
        {{departmentDayType.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="control-button-box">
    <button class="control-button"
            (click)="delete()">X</button>
  </div>
</div>
