.td-name {
  border: 1px solid #e5e9f0;
  padding: 0;
}

.substitution {
  border-left: 3px solid #938bd8;
}

.table-sticky-header {
  font-family: 'MuseoSansRegular', 'Roboto', sans-serif;
  font-size: 13px;
  color: #000;
  position: sticky;
  top: 0;
  background-color: #F5F7F9;
  border: 1px solid #e5e9f0;
}

.table-sticky-header:after,
.table-sticky-header:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
}

.table-sticky-header:before {
  top: -1px;
  border-top: 1px solid #e5e9f0;
}

.table-sticky-header:after {
  bottom: -1px;
  border-bottom: 1px solid #e5e9f0;
}

.th-null {
  min-width: 150px;
}

.th-sum {
  width: 42px;
}

.sum {
  border: 1px solid #e5e9f0;
  vertical-align: middle;
}

.sum p {
  font-family: 'MuseoSansMedium';
  font-size: 13px;
  color: #6f7e91;
}

.notEqual > p {
  color: #d60000;
}

.month-header {
  width: 36px;
  height: 39px;
  cursor: pointer;
}

.month-header:hover {
  background-color: #d7d4ea;
  color: #ffffff;
}

.weekend {
  background-color: #e8f2fb;
}

.holiday {
  background-color: #ffd5d5;
}

.current-day {
  color: royalblue;
}

.group-label-container {
  display: flex;
  width: 100%;
  height: 32px;
  align-items: center;
}

.group-label {
  padding-left: 13px;
}

.group-control {
  width: 60px;
}

.group-control-element {
  font-family: 'MuseoSansMedium';
  letter-spacing: .02em;
  text-align: left;
  font-size: 14px;
  color: #6d6d6d;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  cursor: pointer;
}

.group-control-element:hover {
  color: darkblue;
}

.filter-container {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
  background-color: white;
  position: sticky;
  top: 0;
  padding-bottom: 10px;
  box-sizing: content-box;
}
