.cell-color-label {
  height: 8px;
}

.cell-value {
  padding-top: 4px;
  vertical-align: middle;
}

.cell-value p {
  color: #2b3944;
  font-family: 'MuseoSansMedium';
  font-size: 12px;
}

.cell-disabled p {
  color: #d3d3d3;
}
