<div class="password-change-form">
  <h2 matDialogTitle>Change password</h2>
  <mat-dialog-content [formGroup]="dialogForm">

    <mat-form-field>
      <mat-label>Old password</mat-label>
      <input matInput
             type="password"
             formControlName="oldPassword">
      <mat-error *ngIf="dialogForm.get('oldPassword').invalid"></mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>New password</mat-label>
      <input matInput
             type="password"
             formControlName="newPassword"
             [errorStateMatcher]="errorMatcher">
      <mat-error *ngIf="dialogForm.get('newPassword').invalid">Empty password</mat-error>
      <mat-error *ngIf="dialogForm.hasError('samePassword')">New password cannot be the same as old</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm password</mat-label>
      <input matInput
             type="password"
             formControlName="confirmPassword"
             [errorStateMatcher]="errorMatcher">
      <mat-error *ngIf="dialogForm.hasError('passwordsDoNotMatch')">Passwords do not match!</mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button class="scheduler-dialog-action-button" mat-dialog-close="">Close</button>
    <button class="scheduler-dialog-action-button"
            type="submit"
            [disabled]="dialogForm.invalid"
            (click)="submit()">Change</button>
  </mat-dialog-actions>
</div>
