<div>

  <mat-tab-group mat-align-tabs="center"
                 [dynamicHeight]="false">

    <mat-tab label="General">

      <ng-template matTabContent>
        <div class="patterns-general-panel">
          <mat-form-field>
            <input matInput
                   class="input-pattern-name"
                   placeholder="Shift pattern name"
                   [(ngModel)]="dto.parent.name">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Holiday type of day"
                        [compareWith]="compareIdEntity"
                        [(ngModel)]="dto.parent.holidayDepDayType">
              <mat-option *ngFor="let departmentDayType of departmentDayTypes"
                          [value]="departmentDayType">
                {{departmentDayType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Extra weekend type of day"
                        [compareWith]="compareIdEntity"
                        [(ngModel)]="dto.parent.extraWeekendDepDayType">
              <mat-option *ngFor="let departmentDayType of departmentDayTypes"
                          [value]="departmentDayType">
                {{departmentDayType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Extra work day type of day"
                        [compareWith]="compareIdEntity"
                        [(ngModel)]="dto.parent.extraWorkDayDepDayType">
              <mat-option *ngFor="let departmentDayType of departmentDayTypes"
                          [value]="departmentDayType">
                {{departmentDayType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-template>

    </mat-tab>

    <mat-tab label="Units">

      <ng-template matTabContent>
        <div cdkDropList
             class="pattern-units-panel"
             (cdkDropListDropped)="drop($event)">
          <app-pattern-unit class="pattern-unit"
                            *ngFor="let unit of dto.collection"
                            [departmentDayTypes]="departmentDayTypes"
                            [unit]="unit"
                            (onDelete)="delete($event)"
                            cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          </app-pattern-unit>
          <div class="add-button"
               (click)="addChild()">+</div>
        </div>
      </ng-template>

    </mat-tab>

  </mat-tab-group>

  <mat-dialog-actions>
    <button class="mat-raised-button"
            (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"
            type="submit"
            (click)="submit()">Save</button>
  </mat-dialog-actions>
</div>
