<h2 matDialogTitle>{{operation}}</h2>
<mat-dialog-content [formGroup]="dialogForm">

  <mat-form-field>
    <input matInput
           placeholder="Second Name"
           formControlName="secondName">
    <mat-error *ngIf="isControlInvalid('secondName')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="First Name"
           formControlName="firstName">
    <mat-error *ngIf="isControlInvalid('firstName')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Patronymic"
           formControlName="patronymic">
    <mat-error *ngIf="isControlInvalid('patronymic')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="scheduler-dialog-action-button"
          (click)="close()">Close</button>
  <button class="scheduler-dialog-action-button"
          type="submit"
          [disabled]="dialogForm.invalid"
          (click)="submit()">Save</button>
</mat-dialog-actions>
