<ng-container *ngIf="employees.length > 0">
  <tr>
    <td class="shift-label"
        [attr.colspan]="numberOfColumns" (click)="isHidden = !isHidden">
      {{(isHidden ? "▼" : "▶") + ' ' + shift.name}}
    </td>
  </tr>
  <tr [hidden]="isHidden"
      class="schedule-row"
      *ngFor="let employee of employees"
      app-table-row
      [employee]="employee"
      [workingTimeNorm]="workingTimeNorm"
      [position]="getPosition(employee)"
      [patterns]="patterns"
      [dayTypes]="dayTypes"
      [dayTypeGroups]="dayTypeGroups"
      [mouseMove$]="mouseMove$"
      [mouseUp$]="mouseUp$">
  </tr>
</ng-container>
