<h2 matDialogTitle>{{operation}}</h2>
<mat-dialog-content [formGroup]="dialogForm">

  <mat-form-field>
    <input matInput
           placeholder="Shift Name"
           formControlName="name">
    <mat-error *ngIf="isControlInvalid('name')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Shift Pattern"
                [compareWith]="compareNums"
                formControlName="shiftPatternId">
      <mat-option *ngFor="let pattern of patterns"
                  [value]="pattern.id">
        {{pattern.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isControlInvalid('shiftPatternId')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           type="number"
           placeholder="UI Priority"
           formControlName="uiPriority">
    <mat-error *ngIf="isControlInvalid('uiPriority')">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-checkbox formControlName="hidden">Hidden</mat-checkbox>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="scheduler-dialog-action-button"
          (click)="close()">Close</button>
  <button class="scheduler-dialog-action-button"
          type="submit"
          [disabled]="dialogForm.invalid"
          (click)="submit()">Save</button>
</mat-dialog-actions>
