<avr-side-bar>

  <ng-template avr-side-bar-content>
    <router-outlet></router-outlet>
  </ng-template>

  <ng-template avr-side-bar-item-def>
    <button class="sidebar-button"
            routerLink="employees"
            routerLinkActive="active">Employees</button>
  </ng-template>

  <ng-template avr-side-bar-item-def>
    <button class="sidebar-button"
            routerLink="positions"
            routerLinkActive="active">Positions</button>
  </ng-template>

  <ng-template avr-side-bar-item-def>
    <button class="sidebar-button"
            routerLink="shifts"
            routerLinkActive="active">Shifts</button>
  </ng-template>

  <ng-template avr-side-bar-item-def>
    <button class="sidebar-button"
            routerLink="department_day_types"
            routerLinkActive="active">Day types</button>
  </ng-template>

  <ng-template avr-side-bar-item-def>
    <button class="sidebar-button"
            routerLink="patterns"
            routerLinkActive="active">Patterns</button>
  </ng-template>

  <ng-template avr-side-bar-item-def>
    <button class="sidebar-button"
            routerLink="shift_admin_user_accounts"
            routerLinkActive="active">Shift admins</button>
  </ng-template>

</avr-side-bar>
