.ngx-contextmenu .dropdown-menu {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 0;
  overflow-y: scroll;
  width: 300px;
  max-height: 400px;
  box-shadow: 0 5px 10px rgba(154,160,185,.35), 0 15px 40px rgba(166,173,201,.5);
}
.ngx-contextmenu li {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #dbe6f0;
}
.ngx-contextmenu li:hover {
  background-color: #f0f6fb;
}
.ngx-contextmenu li:first-child {
  border-top:none;
}
.ngx-contextmenu a {
  font-family: 'MuseoSansRegular', 'Roboto', sans-serif;
  letter-spacing: .03em;
  font-size: 18px;
  color: #74819c;
  display: block;
  padding-left: 10px;
  text-decoration: none;
}
.ngx-contextmenu a:hover {
  color: #2b3944;
  text-decoration: none;
}
