.sidebar {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  min-width: 130px;
  background-color: #eef2f5;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar-list-element {
  width: 100%;
}

.sidebar-content-box {
  margin: 0 20%;
  width: 80%;
}

.sidebar-button {
  display: block;
  width: 100%;
  padding: 20px;
  height: 70px;
  font-size: 16px;
  color: black;
  text-align: left;
  border-style: none;
  background: transparent;
  user-select: none;
  text-decoration: none;
}

.active {
  background-color: grey;
  color: white;
}

.sidebar-button:hover {
  background: lightgrey;
}

.sidebar-button:focus {
  outline: 0;
}
