.toolbar-department-logo {
  height: 100%;
  padding-right: 16px;
}

.toolbar {
  list-style-type: none;
  margin: 0;
  padding: 0 16px;
  height: 64px;
  overflow: hidden;
}

.toolbar-li {
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.toolbar-img {
  display: block;
  cursor: pointer;
  height: 100%;
  width: 35px;
  margin: 0 15px 0;
}

.toolbar-img:focus {
  outline: 0;
}

.toolbar-img:hover {
  filter: grayscale(50%);
}

.toolbar-img-disabled {
  display: block;
  height: 100%;
  width: 35px;
  margin: 0 15px 0;
  filter: opacity(30%);
}


.topbar {
  overflow: hidden;
  height: 72px;
  background-color: #061420;
  padding-top: 18px;
  padding-left: 60px;
  padding-right: 50px;
}

.boxrow {
  white-space: nowrap;
}


.logo-container {
  padding-top: 10px;
  display:inline-block;
  width: 300px;
}

.toolbar-container {
  display:inline-block;
  float: right;
}
.department {
  position: relative;
  display:inline-block;
  vertical-align: top;
  padding-top: 13px;
}
#department-name {
  float: right;
  line-height: 1.0;
  padding: 0;
  margin: 0;
}
#department-name a {
  font-family: 'MuseoSansBold';
  font-size: 26px;
  color: #fff;
}
#department-position {
  padding: 0;
  margin: 0;
  line-height: 1.0;
  padding-top: 4px;
  float: right;
  clear: right;

}
#department-position a {
  font-family: 'MuseoSansLight';
  font-size: 13px;
  color: #8d8d8d;
}
.toolbar-set {
  display:inline-block;
  vertical-align: top;
}

.toolbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.toolbar-li {
  float: left;
  height: 22px;
  width: 27px;
  cursor: pointer;
}

.calendar-icon {
  width: 28px;
  height: 30px;
  margin: 0 28px;
  padding-top: 10px;
}

.menu-icon {
  width: 27px;
  height: 29px;
  margin-right: 28px;
  padding-top: 12px;
}

.divider {
  width: 1px;
  background-color: #838a90;
  height: 48px;
  margin-right: 28px;
  padding-top: 5px;
}

.exit-icon {
  width: 24px;
  height: 28px;
  padding-top: 12px;
}

.toolbar-img {
  cursor: pointer;
  margin: 15px 0 0 15px;
}

.toolbar-img:focus {
  outline: 0;
}

.toolbar-img:hover {
  filter: grayscale(50%);
}

.toolbar-img-disabled {
  height: 35px;
  width: 35px;
  margin: 0 15px 0;
  filter: opacity(30%);
}

.main-box {
  overflow: auto;
  background-color: #fafafa;
  border-top: 1px solid #eee;
}

.content-container {
  margin: 47px 75px;
  height: 100%;
}

.content-box {
  position: relative;
  overflow: scroll;
  height: 100%;
}

.main-nav {
  background-color: #4c4c4c;
}
.clear {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0
}

.clear-left {
  clear: left
}

.clear-right {
  clear: right
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table
}

.clearfix:after {
  visibility: hidden;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}


.main-nav {
  background: #eef2f5;
}

.main-nav ul {
  margin: 0;
  padding-left: 20px;
}

.main-nav ul li {
  float: left;
  list-style: none
}

.main-nav ul li:first-child a.active:after {
  left: 0
}

.main-nav a {
  font-family: 'MuseoSansMedium';
  font-size: 15px;
  letter-spacing: .02em;
  color: #188cef;
  text-decoration: none;
  /*border-right: 1px solid #5d5d5d;*/
  line-height: 90px;
  display: inline-block;
  padding: 0 40px;
  background: #eef2f5;
  -webkit-transition: .5s background;
  -o-transition: .5s background;
  -moz-transition: .5s background;
  transition: .5s background
}

.main-nav a.active {
  color: #2b3944;
}


.main-nav a span {
  -webkit-transition: .2s;
  -o-transition: .2s;
  -moz-transition: .2s;
  transition: .2s
}

.main-nav a.active,
.main-nav a:focus,
.main-nav a:hover {
  background-color: #eef2f5 !important;
  position: relative;
  text-decoration: none;
}

.main-nav a.active span,
.main-nav a:focus span,
.main-nav a:hover span {
  opacity: 1
}

.main-nav a.active:after {
  content: '';
  position: absolute;
  margin: 0 auto;
  left: -1px;
  right: -20px;
  bottom: 0;
  height: 14px;
  background: url('../../../assets/img/nav-active.png') no-repeat;
  width: 30px;
}

.main-nav span[class*=" icon-"],
.main-nav span[class^=icon-] {
  margin-right: 10px;
  vertical-align: sub
}

.main-nav .icon-nav-settings {
  vertical-align: -7px !important
}

span[class*=" icon-"], span[class^=icon-] {
  display: inline-block
}


.icon-nav-site {
  background: url('../../../assets/img/cal_small.png') no-repeat;
  width: 18px;
  height: 18px;
}

.icon-nav-stat {
  background: url('../../../assets/img/stat-small.png') no-repeat;
  width: 18px;
  height: 18px;
}

.calendar-box {
  overflow: auto;
  padding: 30px;
  background-color: #fff;
}
