<td>
  <input class="form-control"
         [(ngModel)]="newEmployee.secondName"
         minlength="3"
         maxlength="32"
         placeholder="second name"
         #secondName="ngModel"
         required/>
</td>
<td>
  <input class="form-control"
         minlength="3"
         maxlength="32"
         [(ngModel)]="newEmployee.firstName"
         placeholder="first name"
         #firstName="ngModel"
         required/>
</td>
<td>
  <input class="form-control"
         minlength="3"
         maxlength="32"
         [(ngModel)]="newEmployee.patronymic"
         placeholder="patronymic"
         #patronymic="ngModel"
         required/>
</td>
<td>
  <select class="form-control"
          [(ngModel)]="newEmployee.positionId"
          #position="ngModel"
          required>
    <option [ngValue]="undefined"
            hidden
            selected>select position</option>
    <option *ngFor="let position of positions"
            [ngValue]="position.id">
      {{position.name}}
    </option>
  </select>
</td>
<td>
  <select class="form-control"
          [(ngModel)]="newEmployee.shiftId"
          #shift="ngModel"
          required>
    <option [ngValue]="undefined"
            hidden
            selected>select shift</option>
    <option *ngFor="let shift of shifts"
            [ngValue]="shift.id">
      {{shift.name}}
    </option>
  </select>
</td>
<td>
  <button class="btn btn-primary full-cell-size"
          [disabled]="!secondName.valid ||
                      !firstName.valid ||
                      !patronymic.valid ||
                      !position.valid ||
                      !shift.valid"
          (click)="addEmployee()">+</button>
</td>
