<nav class="main-nav clearfix">
  <ul class="clearfix">
    <li>
      <a routerLink="calendar"
         routerLinkActive="active">
        <span class="icon-nav-site"></span>
        <span class="link-name">Calendar</span>
      </a>
    </li>
    <li>
      <a routerLink="compositions"
         routerLinkActive="active">
        <span class="icon-nav-site"></span>
        <span class="link-name">Shift compositions</span>
      </a>
    </li>
    <li>
      <a routerLink="workingtime"
         routerLinkActive="active">
        <span class="icon-nav-site"></span>
        <span class="link-name">Working time</span>
      </a>
    </li>
    <li>
      <a routerLink="statistics"
         routerLinkActive="active">
        <span class="icon-nav-stat"></span>
        <span class="link-name">Statistics</span>
      </a>
    </li>
    <!--<li>-->
      <!--<a routerLink="reports"-->
         <!--routerLinkActive="active">-->
        <!--&lt;!&ndash;Change icon to reports&ndash;&gt;-->
        <!--<span class="icon-nav-stat"></span>-->
        <!--<span class="link-name">Отчеты</span>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a >-->
        <!--<span class="icon-nav-link"></span>-->
        <!--<span class="link-name">Ссылка</span>-->
      <!--</a>-->
    <!--</li>-->
  </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
