.root-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.scheduler-title {
  font-size: 30px;
  text-align: center;
}

.inputs-panel {
  width: 300px
}

.login-panel-input {
  display: block;
  width: 100%;
}

.login-panel-button {
  font-size: 20px;
  width: 100%;
}
