.root-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.inputs-panel {
  width: 300px
}

.login-panel-input {
  display: block;
  width: 100%;
}

.login-panel-button {
  width: 100%;
}
