.sched-gen {
  font-family: 'MuseoSansRegular', 'Roboto', sans-serif;
  font-size: 13px;
  color: #188cef;
  letter-spacing: .03em;
  cursor: pointer;
  border-bottom: 1px dotted;
}
.sched-gen:hover {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 0;
}
