<div class="date-selector">
  <app-month-year-paginator [paginationStrategy]="paginationStrategy"
                            dateUnit="month"></app-month-year-paginator>
</div>
<div class="table-wrap">
  <table class="table-base">
    <thead class="thead-border">
      <tr>
        <th class="table-sticky-header th-null">Name</th>
        <th class="table-sticky-header th-sum"
            *ngFor="let column of summationColumns">
          {{column.name}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dto of summationDtos">
        <td class="td-name">
          <div class="name">
            {{getEmployeeShortName(dto.parent)}}
          </div>
          <div class="info">
            {{dto.parent.position.shortName}}
          </div>
        </td>
        <td class="sum"
            *ngFor="let summResult of dto.collection">
          <p align="center">{{convertStat(summResult)}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

